  button.custom{
                
                color: #FFFF00;
                font-size: 50px;
  	        background: #00008b;
		
 }
 button.custom1
 {
	 background: #4f514f;
         border-radius: 50%;
	 font-size:x-large;
	 color:#FFFF00;
 }
 
